# steps
1. data preparation 
2. sent cleaned data into s3 bucket

In [50]:
import pandas as pd 
from sklearn.model_selection import  train_test_split

df = pd.read_csv('iris.csv')
df.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [51]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [52]:
df['Species']= df['Species'].replace('Iris-setosa',0)
df['Species']= df['Species'].replace('Iris-versicolor',1)
df['Species']= df['Species'].replace('Iris-virginica',2)

df['Species'].unique()

C:\Users\Hp\AppData\Local\Temp\ipykernel_11436\1456012458.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Species']= df['Species'].replace('Iris-virginica',2)

array([0, 1, 2])

In [53]:
df = df.sample(frac=1).reset_index(drop=True)
df.head(-3)

df.to_csv("processed_iris.csv", index=False)